.step-form {
  background-color: #fff;
}
.step-form .step-form-title {
  padding: 12px 24px;
  border-bottom: 1px solid #f0f0f0;
}
.step-form .step-form-title div {
  margin-right: 12px;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  overflow: hidden;
  white-space: nowrap;
}
.step-form .step-form-title .step-form-descript {
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-weight: 400;
}
.step-form .step-form-content {
  padding: 12px 24px;
  width: 1000px;
  margin: auto;
}
.steps-content {
  margin-top: 30px;
  border-radius: 2px;
  background-color: #fff;
  min-height: 200px;
  text-align: center;
}
.steps-action {
  margin-top: 24px;
  text-align: center;
}
.ant-form-item-control {
  text-align: left;
}
.pay-info {
  text-align: left;
  margin-top: 16px;
}
.pay-info .pay-info-label {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5715;
}
.pay-info .pay-info-value {
  color: rgba(0, 0, 0, 0.65);
  font-size: 16px;
  line-height: 1.5715;
}
