.table-list-search {
  background-color: #fff;
  padding: 24px;
  margin-bottom: 16px;
}
.table-list-content {
  background-color: #fff;
  padding: 24px;
}
.table-list-status {
  display: inline-block;
  width: 6px;
  height: 6px;
  vertical-align: middle;
  border-radius: 50%;
  margin-right: 5px;
}
