@border: 1px solid #e6f6ff;

.flow {
    height: 600px;
    display: flex;
    background-color: #fff;


    .flow-center {
        flex: 1;
        display: flex;
        box-sizing: border-box;
        // border: 1px solid #e6f6ff;
        border-left: @border;
        border-top: @border;
        border-bottom: @border;
    }

    .flow-right {
        width: 250px;
        box-sizing: border-box;
        border: @border;
    }
}

.graph {
    position: relative;
    height: 100%;
    overflow: hidden;
}




.itemPanel {
    //   flex: 1;
    width: 250px;
    /deep/
        .ant-card {
            height: 100%;
        }
        .ant-card-body {
            display: flex;
            flex-direction: column;
            align-items: center;
            >div {
                margin-bottom: 16px;
            }
        }
    
}